.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  margin: 1rem;
  padding: 1.5rem;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  
}

.tag {
  text-align: start;
  background-color: brown;
  margin-bottom: 20px;
  border-radius: 10px 10px;
  height: 40px;
}

.img{
  width: 200px;
  height:200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
}
/* .content {
  text-align: start;
  color: #666;
  background-color: black;
} */

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}


@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    background-color: brown ;
  }

  .title {
    font-size: 30px;
  }

 
}
