@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white font-Sen;
}

@layer components {
  .marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
  }
  .track:hover {
    animation-play-state: paused;
  }

  @media screen and (max-width: 768px) {
    .track {
      animation: marquee 10s linear infinite;
      width: 550%;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
.m-auto { margin: auto; }
